@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">JTE Azure 2021 - Welcome !</h1>
    <p>V1.1</p>
    <br/><img src="https://octocat-generator-assets.githubusercontent.com/my-octocat-1631160217376.png" style="width:500px;height:600px;"/>
</div>
