@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">JTE Azure 2021 - Welcome !</h1>
    <p>V1.0</p>
    </br><a href="https://octocat-generator-assets.githubusercontent.com/my-octocat-1631160217376.png"/>
</div>
