name: Docker Image CI

on:
    workflow_dispatch

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - name: 'Code Checkout GitHub Action'
      uses: actions/checkout@v2
  
     
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)
    - name: 'Login in Azure ACR'
      uses: azure/docker-login@v1
      with:
        login-server: ${{ secrets.AZURE_ACR_LOGINSERVER }}
        username: ${{ secrets.AZURE_ACR_LOGIN }}
        password: ${{ secrets.AZURE_ACR_PASSWORD }}
            
    - run: |
            docker build . --file Dockerfile -t ${{ secrets.AZURE_ACR_LOGIN }}/sampleapp:${{ github.sha }}
            docker push ${{ secrets.AZURE_ACR_LOGIN }}/sampleapp:${{ github.sha }}
